<header>
  <ul *ngIf="globalData">
    <li><strong>Cryptocurrencies: </strong>{{globalData.cryptocurrencies | number: fractionSize}}</li>
    <li><strong>Markets: </strong>{{globalData.markets | number: fractionSize}}</li>
    <li><strong>Market cap:</strong> ${{globalData.marketCap | number: fractionSize}}</li>
    <li><strong>24h Vol:</strong> ${{globalData.volume24h | number: fractionSize}}</li>
    <li><strong>BTC dominance: </strong>{{globalData.BTCDominance | number: fractionSize}}%</li>
  </ul>
</header>
