header
  border-bottom-style: solid;
  border-bottom: 1%;
  background-color: white;


ul 
  margin: 0;
  padding: 1%;
  padding-left: 3%;


li 
  display: inline;
  margin-right: 3%;
  margin-left: 1%;
  text-align: center;
