<mat-spinner *ngIf="loading$ | async else details" color="accent"></mat-spinner>
<ng-template #details>
  <div class="router-components-container" *ngIf="currency">


    <h1>{{currency.name}}</h1>

    <ul>
      <li><strong>Price:</strong> $ {{currency.price | number: fractionSize}}</li>
      <li><strong>Market cap:</strong> ${{currency.marketCap | number: fractionSize}}</li>
      <li><strong>Volume (24h):</strong> $ {{currency.volume24h | number: fractionSize}}</li>
      <li><strong>Circulating supply:</strong> $ {{currency.circulatingSupply | number: fractionSize}}</li>
      <li><strong>Max supply:</strong> $ {{currency.maxSupply | number: fractionSize}}</li>
    </ul>
    <button class="go-back" (click)="goBack()">Go Back</button>
  </div>
</ng-template>