@import './variables' 

body 
  font-size: 16px;
  background-color: $burntSienna;
  margin: 0;


.router-components-container 
  border-radius: 10px;
  display: flex;
  width: inherit
  flex-direction: column
  background-color: $white;
  align-self: center;
  justify-content: center
  align-content: center
